# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
*.so
.env
venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Vue / Node
node_modules/
clocktower-vue/node_modules/
clocktower-vue/dist/
